.banner {
    margin-top: 75px;
    text-align: center;
}
body{
     width: 97vw;
  height: 100vh;
  background-image: url(bg2.jpg);
  background-size: cover;
h1 {
  font-family: "Segoe UI", "Trebuchet MS", "Helvetica Neue", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  /* Glass effect */
  background: linear-gradient(to bottom, #e0f7ff 0%, #a0e0ff 35%, #38b0de 70%, #007acc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Glass effect and depth ig */
  text-shadow:
    0 1px 1px rgb(255, 255, 255),
    0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.25);

  /* tilt text */
  transform: perspective(300px) rotateX(3deg);
}

